<div class="ui vertical masthead center aligned segment">
	<div class="ui text container">
		<h1 class="ui header">
			Main header
		</h1>
		<h2> Takes a lickin and keeps on ticking</h2>
		<a href="/itemlist"><div class="ui big primary button" >Browse<i class="right arrow icon"></i></div></a>
	</div>
</div>
