
  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>

<div class="ui middle aligned center aligned grid">
  <div class="column ten wide" id='body'>
    <fieldset>
      <label for="tableNo">Number of Tables:</label>
      <input type="number" id="tableNo" name="height" step="1" onchange='createList()'/>
      <span class="validity"></span>
      <div class="ui button">Save</div>
    </fieldset>
  </div>
  <div id='tablesList'></div>
</div>

<script src='setup.js'></script>
