<div class="ui middle aligned center aligned grid">
  <div class="column ten wide" id='body'>
    
    <form action='/setup' method='POST'>
      <input type="hidden" name='entity_type' value='outlet'>
      <input type="hidden" name='user_id' value={{user_id}}>

      <div class="ui labeled input">
        <div class="ui label">
          Outlet name: 
        </div>
        <input type="text" name='entity_name' placeholder="J8 Pastamania">
        <br>
      </div>
        
      <div class="ui labeled input">
        <div class="ui label">
          Address: 
        </div>
        <input type="text" name='entity_address' placeholder="8 Bishan Rd">
        <br>
      </div>

      <div class="ui checkbox">
        <input type="checkbox" name="entity_GST">
        <label>GST</label>
      </div>
      
      <input type="submit" value="Submit">
    </form>
  </div>
</div>