<style type="text/css">
body {
    background-color: #DADADA;
}
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}
</style>

<div class="ui middle aligned center aligned grid">
  <div class="column ten wide" id='body'>
    <form enctype="multipart/form-data" action="/createMenu" method="POST">
        <input type="file" name="myFile">
        <input type="submit" class="btn btn-primary">
    </form>
  </div>
  <div id='itemsList'></div>
</div>

<script src='items.js'></script>
